if !user
	h2 Welcome
	p Please login via Google, Facebook or Twitter.
else
	h2 Hangouts
	
	.hangouts
		each hangout in hangouts
			.hangout
				.hangout-info
					h3.hangout-game
						span= hangout.gameTitle
						i.fa.fa-gamepad
					p.hangout-message= hangout.message
					p.hangout-datetime
						span.hangout-date= hangout.date.replace('-', '年 ').replace('-', '月 ') + '日'
						span.hangout-time= hangout.time + ' 時'
					ul.hangout-members
						each member in hangout.membersAsUsers
							li.hangout-member= member.givenName
			
				.hangout-actions
					if hangout.members.indexOf(user.id) === -1
						button.button.action-join(onclick=`joinHangout('${hangout.id}')`)
							span.fa.fa-hand-peace-o
							| Join
					else if hangout.userId !== user.id
						button.button.action-leave(onclick=`leaveHangout('${hangout.id}')`)
							span.fa.fa-hand-stop-o
							| Leave
					
					if hangout.userId === user.id
						button.button.action-delete(onclick=`deleteHangout('${hangout.id}')`)
							span.fa.fa-remove
							| Delete

	.actions
		a.button.ajax(href='/hangouts/new')
			span.fa.fa-plus
			| New hangout